<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mules 1</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/webjars/bootstrap/4.0.0-beta/css/bootstrap.min.css}"/>

    <style>
        .bg-1{
            background-color: bisque;
            color: darkred;
        }
        .bg-2{
            background-color: white;
            color: black;
        }
    </style>
</head>
<!--/*@thymesVar id="resume" type="com.kcfed.ucmo.smsbackend.models.Resume"*/-->
<body>
<div th:replace="fragments/header :: header"></div>

<div class="bg-1">
    <div class="container-fluid" style="padding-top: 50px;">
        <h3 class="text-right" style="font-size:40px; padding: -5px;" id="rName" th:text="${resume.name}"></h3>
        <h3 class="text-right" style="font-size:24px; padding: -5px;" id="rAddress" th:text="${resume.address}"></h3>
        <h3 class="text-right" style="font-size:24px; padding: -5px;" id="rPhone" th:text="${resume.phone}"></h3>
        <h3 class="text-right" style="font-size:24px" id="rEmail" th:text="${resume.email}"></h3>
        <h3 class="text-right" style="font-size:24px" id="rLinkedIn" th:text="${resume.linkedIn}"></h3>
        <h3 class="text-right" style="font-size:24px" id="rRepository" th:text="${resume.repository}"></h3>
    </div>
</div>
<div class="bg-2">
    <div class="container-fluid">
        <h4 style="font-size:24px;color:darkred" >EDUCATION</h4>
        <h4 id="rProgram" th:text="${resume.program}"></h4>
        <h4 id="rUniversity" th:text="${resume.university}"></h4>
        <h5 id="rDegree" th:text="${resume.degree}"></h5>
    </div>
    <div class="container-fluid">
        <h4 style="font-size:24px;color:darkred" id="rWork">EXPERIENCE</h4>
        <h4 id="rPosition" th:text="${resume.position}"></h4>
        <h4 id="rCompany" th:text="${resume.company}"></h4>
        <h5 id="rStart" th:text="${resume.startDate}"></h5>
        <h5 id="rEnd" th:text="${resume.endDate}"></h5>
    </div>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</html>
