<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<div class="modal fade" id="resumeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" th:fragment="resumeModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Resume Builder</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" th:action="@{/resume}" th:object="${resume}" method="POST">
                    <h2>Personal Information</h2>

                    <p id="rNameParent">
                        <input type="text" class="form-control"
                               placeholder="Name"
                               name="Name"
                               id="rName" value="test" th:field="*{name}"/>
                        <input type="text" placeholder="Address" class="form-control"
                               name="Address" id="rAddress" th:field="*{address}"/>
                        <input type="text" placeholder="Phone Number" name="Phone Number" class="form-control"
                               id="rPhone"/>
                        <input type="text" placeholder="Email" th:field="*{email}"
                               class="form-control" name="Email" id="rEmail"/>
                        <input type="text" placeholder="LinkedIn" th:field="*{linkedIn}" class="form-control"
                               name="LinkedIn" id="rLinkedIn"/>
                        <input type="text" placeholder="Repository" th:field="*{repository}" class="form-control"
                               name="Repository" id="rRepository"/></p>
                    <hr/>
                    <h2>Work Experience</h2>

                    <p id="rWorkParent">
                        <input type="text" placeholder="Position" th:field="*{position}" class="form-control"
                               name="Position" id="rPosition"/>
                        <input type="text" placeholder="Company" th:field="*{company}" class="form-control"
                               name="Company" id="rCompany"/>
                        <input type="text" placeholder="Start Date" th:field="*{startDate}" class="form-control"
                               name="Start Date" id="rStart"/>
                        <input type="text" placeholder="End Date" th:field="*{endDate}" class="form-control"
                               name="End Date" id="rEnd"/></p>
                    <hr/>
                    <h2>Education</h2>

                    <p id="rEducationParent">
                        <input type="text" placeholder="University" th:field="*{university}" class="form-control"
                               name="University" id="rUniversity"/>
                        <input type="text" placeholder="Program" th:field="*{program}" class="form-control"
                               name="Program" id="rProgram"/>
                        <input type="text" placeholder="Degree" th:field="*{degree}" class="form-control"
                               name="Degree" id="rDegree"/></p>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Submit Form"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</html>
