<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>

    <meta name="viewport" content="width=device-width, shrink-to-fit=no"/>
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/webjars/bootstrap/4.0.0-beta/css/bootstrap.min.css}"/>

</head>

<body>

<div class="modal fade" id="socialMediaModal" tabindex="-1" role="dialog" aria-labelledby="socialMediaModal"
     aria-hidden="true" th:fragment="socialMediaModal">
    <div class="modal-dialog" role="dialog" id="sm-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6">
                            <form class="formClass" action="/connect/facebook" method="POST">
                                <input type="hidden" name="scope" value="user_posts"/>
                                <form name="facebookForm" id="facebookForm" class="formClass" action="/connect/facebook"
                                      method="POST">
                                    <object data="Facebook.png" type="image/png" height="330" width="330" onclick="$('#facebookForm').submit()"></object>
                                </form>

                                <!--<button class="smButton " type="submit">-->
                                    <!--<object data="Facebook.png" type="image/png" height="330" width="330"></object>-->
                                <!--</button>-->
                            </form>
                        </div>
                        <div class="col-6">
                                <input type="hidden" name="scope" value="user_posts"/>
                                <form name="twitterForm" id="twitterForm" class="formClass" action="/connect/twitter"
                                      method="POST">
                                    <object data="Twitter.png" type="image/png" height="330" width="330" onclick="$('#twitterForm').submit()"></object>
                                </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col align-self-center">
                            <h4>Coming soon!</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col align-self-center">
                            <button class="smButton " type="submit">
                                <object data="instagram.bmp" type="image/png" height="330" width="330"></object>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>

</html>
