<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Filtered Tweets</title>
    <meta name="viewport" content="width=device-width, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/webjars/bootstrap/4.0.0-beta/css/bootstrap.min.css}"/>

</head>
<body>
<!--TODO: Tomorrow morning figure out why this doesn't work-->
<!--<div th:replace="fragments/resumeFormModal :: resumeModal" id="resumeModal">...</div>-->
<div th:replace="fragments/socialMediaModal :: socialMediaModal" id="socialMediaModal">...</div>
<div th:replace="fragments/header :: header">...</div>

<h2 style="padding-top: 50px; color:red; justify-content: center;   text-align: center;">Detected Tweets</h2>

<div class="w3-container">
    <div th:each="tweet:${tweets}">
        <a th:href="@{'https://twitter.com/statuses/' + ${tweet.idStr}}"
           class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="w3-right-align">
                <small th:text="${tweet.createdAt}"></small>
            </div>
            <div class="w3-container w3-large">
                <div class="w3-left-align">
                    <p th:text="${tweet.text}" style="text-align: center;"></p>
                </div>
            </div>
            <hr/>
        </a>
    </div>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</html>
